body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.5);
}
a {
  color: #885df1;
}
main {
  padding: 30px 0;
}
.weather-app {
  background-color: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
}
#search-form-input {
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 30px;
  background-color: #f9f7fe;
  width: 70%;
}
#search-form-button {
  background-color: #885df1;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  width: 20%;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  line-height: 24px;
}
.weather-app-details strong {
  color: red;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  font-weight: bond;
}
