body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/600/original/sunrise-desktop-pyyl8kwk19v52eva.jpg?1765961491");
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 0.5px solid black;
  padding: 0 0 30px 0;
}
footer {
  border-top: 1px solid black;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.5);
}
a {
  color: red;
}
main {
  padding: 30px 0;
}
.weather-app {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/600/original/sunrise-desktop-pyyl8kwk19v52eva.jpg?1765961491");
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  max-width: 600px;
  margin: 0px auto;
  padding: 30px;
}
#search-form-input {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 30px;
  width: 75%;
}
#search-form-button {
  background-color: rgb(36, 36, 244);
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  width: 20%;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  color: rgba(39, 33, 66, 0.8);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  line-height: 24px;
}
.weather-app-details strong {
  color: red;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  font-weight: bond;
}
.weather-app-footer {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/600/original/sunrise-desktop-pyyl8kwk19v52eva.jpg?1765961491");
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  max-width: 600px;
  margin: 0px auto;
  padding: 30px;
  margin: 10px auto;
}
